@import '../generals/universals.css';

.primaryRectangle {
  position: absolute;
  top: 93px;
  left: 60px;
  right: 60px;
  bottom: 70px;

  width: calc(100% - 117px);
  height: calc(100% - 160px);

  background-color: var(--my-beige);
  border: none;
  border-radius: 10px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.inputBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: red;
  width: fit-content;

  font-family: var(--font-news-cycle);
  font-size: 18px;
  font-weight: semibold;

}

.inputBox {
  /* position: relative; */
  width: 622px;
  height: 31px;

  background-color: var(--my-beige);
  border: solid;
  border-color: var(--my-darker-grey);
  border-width: 1px;
  border-radius: 7px;

  font-family: var(--font-news-cycle);
  font-size: 18px;
}

