@import '../generals/universals.css';

#contactMe * {}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* CONTACT ME MANILA LABEL */
.pageContainer {
  position: relative;
}

.contactMeSign {
  display: flex;
  flex-direction: column;
  padding: 10px;

  position: absolute;
  top: -30px;
  left: 90px;
  width: auto;

  background-color: var(--my-green);
  border-radius: 10px;

  font-family: var(--font-script);
  font-weight: bold;
  letter-spacing: var(--font-script-ls);

  z-index: 1;
}


.title {
  font-size: 40px;
} .subtitle {
  font-size: 20px;
  padding-left: 30px;
} .title, .subtitle {
  margin: 0;
}

/* BEIGE BACKGROUND */
.primaryRectangle {
  flex: 1;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 50px;
  margin-bottom: 74px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--my-beige);
  border: none;
  border-radius: 10px;
  padding: 55px 0;
}

/* MANAGING INPUT CONTAINERS */
.inputContainer {
  position: relative;
  transform: translateY(calc(-1vw * 0.5 + 20px));
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.inputBoxContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;

  font-family: var(--font-news-cycle);
  font-size: 18px;
  letter-spacing: var(--font-news-cycle-ls);
  font-weight: semibold;

  gap: 6px;
}

/* MANAGING THE PAGE'S INPUT CONTENT */
.inputBox,
.messageBox {
  width: clamp(20px, 50vw, 622px);
  min-height: 28px;
  padding: 5px;
  overflow: hidden;

  background-color: var(--my-beige);
  border: solid;
  border-color: var(--my-darker-grey);
  border-width: 1.5px;
  border-radius: 8px;

  font-family: var(--font-news-cycle);
  font-size: 17px;
  letter-spacing: var(--font-news-cycle-ls);
}

.inputBox.error,
.messageBox.error {
  border: 1.5px solid var(--my-red);
  border-radius: 8px;
}

.inputBox.error::placeholder,
.messageBox.error::placeholder {
  color: var(--my-red);
}

.messageBox {
  height: 175px;
  max-height: none;
  resize: none;
}


/* ADD ARROW BUTTON FUNCTIONALITY */
.submitButton {
  position: relative;
  overflow: hidden;
  height: 37px;
  width: 115px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10px;
  text-align: center;

  background-color: var(--my-beige);
  border: solid;
  border-color: var(--my-darker-grey);
  border-width: 1.5px;
  border-radius: 8px;

  font-size: 18px;
  color: black;
  line-height: 1.85;
  
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.submitButton::before {
  content: "→";
  font-size: 18px;
  color: black;
  position: absolute;
  right: 10px;
  top: 16px;
  transform: translateY(-50%);
  opacity: 0;
  transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.submitButton:hover {
  padding-right: 30px;
}

.submitButton:hover::before {
  right: 15px;
  opacity: 1;
}

.submitButton:active {
  transform: scale(0.95);
}

.thankYouMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 476px;

  color: black;
  font-family: var(--font-script);
  letter-spacing: var(--font-script-ls);
}

.thankYouMessage h2, h3 {
  margin: 10px;
}