@import '../generals/universals.css';

.primaryRectangle {
  position: absolute;
  top: 93px;
  left: 60px;
  right: 60px;
  bottom: 70px;

  width: calc(100% - 117px);
  height: calc(100% - 160px);

  display: flex; /* Add flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center;

  background-color: var(--my-beige);
  border: none;
  border-radius: 10px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: fit-content;

  background-color: green;
  gap: 30px;
}

.inputBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;

  font-family: var(--font-news-cycle);
  font-size: 18px;
  letter-spacing: var(--font-news-cycle-ls);
  font-weight: semibold;

  gap: 6px;
}

.inputBox {
  width: 622px;
  height: 28px;

  background-color: var(--my-beige);
  border: solid;
  border-color: var(--my-darker-grey);
  border-width: 1.5px;
  border-radius: 7px;

  font-family: var(--font-news-cycle);
  font-size: 17px;
  letter-spacing: var(--font-news-cycle-ls);
}

.messageBox {
  height: 175px;
}

.messagePlaceholder {
  position: absolute;
  top: 5px;
  left: 5px;
  
  font-family: var(--font-news-cycle);
  font-size: 17px;
  opacity: 0.5;
  letter-spacing: var(--font-news-cycle-ls);
}

.messageBox:focus-within .messagePlaceholder {
  opacity: 0;
}

.submitButton {
  width: 40px;
  height: 40px;

  /* background-color:  */
  font-family: var(--font-news-cycle);
  font-size: 17px;
  letter-spacing: var(--font-news-cycle-ls);
}
