@import '../generals/universals.css';

/* CONTAINER PROPERTIES */
#notFound .pageContainer {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  background-color: purple;
}

#notFound .textContainer {
  position: absolute;
  width: fit-content;
  min-width: 651px;
  height: fit-content;

  /* background-color: blue; */
  font-family: var(--font-script);
  font-weight: bold;
  letter-spacing: var(--font-script-ls);
}

/* TEXT PROPERTIES */
#notFound .title {
  color: black;
  font-size: 40px;
} #notFound .subtitle {
  color: var(--my-red);
  font-size: 20px;
}