@import '../generals/universals.css';

.primaryRectangle {
    position: absolute;
    top: 93px;
    left: 60px;
    right: 60px;
    bottom: 70px;

    width: calc(100% - 117px);
    height: calc(100% - 160px);

    background-color: var(--my-beige);
    border: none;
    border-radius: 10px;
  }