/* .circuitPlacementContainer {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
} */
@import '../universals.css';



/****** LARGER CONTAINERS ******/
.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
  gap: clamp(0px, 5vw, 100px);
}


.rightSideContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 317px;
  gap: 30px;
}





/****** RED RECTANGLE CIRCUIT ******/
.redContainer {
  position: relative;
  min-width: 569px;
  height: 548px;
}

.circuitRedRectangle {
  position: absolute;
  width: 393px;
  height: 527px;
  background-color: var(--my-red);
  border-radius: 10px;
}
  
.circuitSchematicPNG {
  position: absolute;
  top: 8px;
  left: -10px;
  width: 583px;
  height: 550px;
}





/****** INTRODUCTORY TEXT ******/
.textContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.SWEIntroContainer {
  display: inline-block;
  line-height: 0.12;
}

.SWELine {
  font-family: var(--font-computer);
  color: black;
  text-align: center;
}
.SWELine.small {
  font-size: 25px;
}
.SWELine.large {
  font-size: 30px;
}

.myName {
  color: var(--my-red);
  font-weight: Bold;
}


.astroIntroContainer {
  display: inline-block;
  line-height: 0.1;
  /* background-color: red; */
}

.astroLine {
  font-family: var(--font-script);
  font-weight: bold;
  color: black;
  text-align: center;
}
.astroLine.large {
  font-size: 21px;
}
.astroLine.small {
  font-size: 15px;
}


/****** CV+CONTACT BUTTONS ******/
.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 310px;
  z-index: 1;
}

.titleButtons {
  position: relative;
  overflow: hidden;
  text-align: center;
  line-height: 40px;

  border: none;
  background-color: var(--my-beige);
  border-radius: 8px;
  height: 40px;

  font-family: var(--font-computer);
  font-size: 21px;
  color: black; 

  cursor: pointer; 
  transition: all 0.3s ease-in-out;
}

.titleButtons::before {
  content: "→";
  font-size: 18px;
  color: black;
  position: absolute;
  right: 10px;
  top: 63%;
  transform: translateY(-60%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.titleButtons:hover {
  padding-right: 20px;

  &::before {
    right: 5px;
    opacity: 1;
  }
}

.downloadCVButton {
  width: 150px;
}

.contactMeButton {
  width: 143px;
}



/****** YELLOW RECTANGLE PNG ******/
.yellowContainer  {
  position: relative;
  height: 294px;
  width: 244px;
}

.pngYellowRectangle {
  position: absolute;
  top: 65px;
  width: 197px;
  height: 229px;
  background-color: var(--my-yellow);
  border-radius: 8px;
}

.maltaBoardPNG {
  position: absolute; 
  top: -126px;
  left: -20px;
  width: 340px;
  height: 420px;
}